@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
html {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

::placeholder{
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

i {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(circle at 0% 0%, #2c3046, #1e2133 51%, #0e0e11);
}


input {
  border-style: none;
  background: transparent;
  outline: none;
}

button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1600px;
  padding: 0 15px;
  justify-content: center;
}

.webflow-style-input {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 2px;
  padding: 1.4rem 2rem 1.6rem;
  background: rgba(57, 63, 84, 0.8);
}

label {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: linear-gradient(to right, #9b7ee4, #68e9e9, #fbff15, #41e7e7, 
  #e603b4, #4ef0f0, #98ff12, #2cf5f5);
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
  transition: all 0.2s ease;
  opacity: 0;
}

input:focus ~ label {
  opacity: 1;
}

.webflow-style-input input {
  font-family: "Poppins", sans-serif;
  flex-grow: 1;
  color: #bfd2ff;
  font-size: 1.8rem;
  line-height: 2.4rem;
  vertical-align: middle;
}

.webflow-style-input input::-webkit-input-placeholder {
  color: #7881a1;
}

.webflow-style-input button {
  color: #7881a1;
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  transition: color 0.25s;
}

.webflow-style-input button:hover {
  color: #bfd2ff;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}